In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/MyDrive/Assignments

/content/drive/MyDrive/Assignments

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier
from sklearn import preprocessing
from sklearn import tree

In [ ]:
data=pd.read_csv("Company_Data.csv")
data.sample(10)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
388,8.14,135,89,11,245,78,Bad,79,16,Yes,Yes
210,4.36,125,41,2,357,123,Bad,47,14,No,Yes
351,10.44,124,115,16,458,105,Medium,62,16,No,Yes
152,7.64,128,78,0,341,128,Good,45,13,No,No
178,10.66,104,71,14,89,81,Medium,25,14,No,Yes
262,6.37,120,77,15,86,132,Medium,48,18,Yes,Yes
332,5.74,106,33,20,354,104,Medium,61,12,Yes,Yes
124,8.87,131,113,0,181,120,Good,63,14,Yes,No
335,6.18,120,70,15,464,110,Medium,72,15,Yes,Yes
278,7.22,114,113,2,129,151,Good,40,15,No,Yes

In [ ]:
traget=[]
for i in data['Sales']:
  if i>9:
    traget.append("Good")
  else:
    traget.append("Bad")

data["target"]=traget
data.drop("Sales",axis=1,inplace=True)
data

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,target
0,138,73,11,276,120,Bad,42,17,Yes,Yes,Good
1,111,48,16,260,83,Good,65,10,Yes,Yes,Good
2,113,35,10,269,80,Medium,59,12,Yes,Yes,Good
3,117,100,4,466,97,Medium,55,14,Yes,Yes,Bad
4,141,64,3,340,128,Bad,38,13,Yes,No,Bad
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes,Good
396,139,23,3,37,120,Medium,55,11,No,Yes,Bad
397,162,26,12,368,159,Medium,40,18,Yes,Yes,Bad
398,100,79,7,284,95,Bad,50,12,Yes,Yes,Bad
399,134,37,0,27,120,Good,49,16,Yes,Yes,Good

In [ ]:
scale=preprocessing.LabelEncoder()
for i in data.columns:
  if data[i].dtype==object:
    data[i]=scale.fit_transform(data[i])
  else:
    pass
data

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,target
0,138,73,11,276,120,0,42,17,1,1,1
1,111,48,16,260,83,1,65,10,1,1,1
2,113,35,10,269,80,2,59,12,1,1,1
3,117,100,4,466,97,2,55,14,1,1,0
4,141,64,3,340,128,0,38,13,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1,1
396,139,23,3,37,120,2,55,11,0,1,0
397,162,26,12,368,159,2,40,18,1,1,0
398,100,79,7,284,95,0,50,12,1,1,0
399,134,37,0,27,120,1,49,16,1,1,1

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(data.iloc[:,:-1],data.iloc[:,-1],test_size=0.2)

In [ ]:
models=[DecisionTreeClassifier(),
        BaggingClassifier(n_estimators=15,max_samples=0.8),
        RandomForestClassifier(n_estimators=15,max_samples=0.8,max_features=9)]

In [ ]:

fn=("CompPrice","Income","Advertising","Population","Price","ShelveLoc","Age","Education","Urban","US")
cn=["target"]

In [ ]:
for model in models:
  model.fit(x_train,y_train)
  pred=model.predict(x_test)
  print(model)
  print("==="*20)
  print(classification_report(y_test,pred))

DecisionTreeClassifier()
============================================================
              precision    recall  f1-score   support

           0       0.88      0.91      0.89        55
           1       0.78      0.72      0.75        25

    accuracy                           0.85        80
   macro avg       0.83      0.81      0.82        80
weighted avg       0.85      0.85      0.85        80

BaggingClassifier(max_samples=0.8, n_estimators=15)
============================================================
              precision    recall  f1-score   support

           0       0.81      0.93      0.86        55
           1       0.76      0.52      0.62        25

    accuracy                           0.80        80
   macro avg       0.79      0.72      0.74        80
weighted avg       0.80      0.80      0.79        80

RandomForestClassifier(max_features=9, max_samples=0.8, n_estimators=15)
============================================================
              precision    recall  f1-score   support

           0       0.79      0.87      0.83        55
           1       0.63      0.48      0.55        25

    accuracy                           0.75        80
   macro avg       0.71      0.68      0.69        80
weighted avg       0.74      0.75      0.74        80