In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
cd drive/MyDrive/Assignments

/content/drive/MyDrive/Assignments

In [55]:
import pandas as pd
from sklearn import preprocessing
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn import metrics

In [6]:
train_data=pd.read_csv("SalaryData_Test.csv")
train_data.sample(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
4795,38,State-gov,Some-college,10,Divorced,Tech-support,Unmarried,White,Female,0,0,10,United-States,<=50K
14309,47,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,35,United-States,>50K
2966,28,Local-gov,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,45,United-States,<=50K
14749,30,Local-gov,Bachelors,13,Separated,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
1743,36,Private,Bachelors,13,Divorced,Priv-house-serv,Unmarried,White,Female,0,0,40,United-States,<=50K

In [7]:
train_data.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [9]:
train_data.duplicated().value_counts()

False    14130
True       930
dtype: int64

In [14]:
train_new_data=train_data.drop_duplicates()
train_new_data.sample(4)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
1726,37,Private,10th,6,Divorced,Transport-moving,Unmarried,White,Male,0,0,40,United-States,<=50K
3510,19,Private,Some-college,10,Never-married,Sales,Own-child,Black,Female,0,0,20,United-States,<=50K
11742,31,Private,1st-4th,2,Never-married,Transport-moving,Other-relative,Other,Male,0,0,40,El-Salvador,<=50K
9711,41,Private,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [15]:
train_data.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [21]:
test_data=pd.read_csv("SalaryData_Train.csv")
test_data.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [22]:
test_data.isna().sum().sum()

0

In [23]:
test_data.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [28]:
test_data.duplicated().value_counts()

False    26903
True      3258
dtype: int64

In [30]:
test_new_data=test_data.drop_duplicates()
test_new_data.shape

(26903, 14)

In [40]:
x_train=train_new_data.iloc[:,:-1]
y_train=train_new_data.iloc[:,-1]
x_test=test_new_data.iloc[:,:-1]
y_test=test_new_data.iloc[:,-1]

In [41]:
encoder=preprocessing.LabelEncoder()
for i in x_train.columns:
  if x_train[i].dtype==object:
    x_train[i]=encoder.fit_transform(x_train[i])
  else:
    pass
for i in x_test.columns:
  if x_test[i].dtype==object:
    x_test[i]=encoder.fit_transform(x_test[i])
  else:
    pass

In [42]:
x_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37
15056,39,2,9,13,0,9,1,4,0,0,0,36,37
15057,38,2,9,13,2,9,0,4,1,0,0,50,37
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37
15059,35,3,9,13,2,3,0,4,1,0,0,60,37

In [45]:
#normalizing
def std_val(val):
  x=val-val.min()/(val.max()-val.min())
  return x

In [46]:
x_train.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37

In [48]:
std_val(x_train)
std_val(x_test)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,38.767123,5.0,9.0,12.933333,4.0,0.0,1.0,4.0,1.0,2174.0,0.0,39.989796,37.0
1,49.767123,4.0,9.0,12.933333,2.0,3.0,0.0,4.0,1.0,0.0,0.0,12.989796,37.0
2,37.767123,2.0,11.0,8.933333,0.0,5.0,1.0,4.0,1.0,0.0,0.0,39.989796,37.0
3,52.767123,2.0,1.0,6.933333,2.0,5.0,0.0,2.0,1.0,0.0,0.0,39.989796,37.0
4,27.767123,2.0,9.0,12.933333,2.0,9.0,5.0,2.0,0.0,0.0,0.0,39.989796,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30154,52.767123,2.0,12.0,13.933333,2.0,3.0,0.0,4.0,1.0,0.0,0.0,39.989796,37.0
30155,21.767123,2.0,15.0,9.933333,4.0,10.0,1.0,4.0,1.0,0.0,0.0,39.989796,37.0
30156,26.767123,2.0,7.0,11.933333,2.0,12.0,5.0,4.0,0.0,0.0,0.0,37.989796,37.0
30158,57.767123,2.0,11.0,8.933333,6.0,0.0,4.0,4.0,0.0,0.0,0.0,39.989796,37.0
30160,51.767123,3.0,11.0,8.933333,2.0,3.0,5.0,4.0,0.0,15024.0,0.0,39.989796,37.0

In [51]:
#Creating Navive Baise model
model=GaussianNB()

In [52]:
model=model.fit(x_train,y_train)

In [54]:
y_test_pred=model.predict(x_test)

In [56]:
metrics.accuracy_score(y_test,y_test_pred)

0.7919562874028919